/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

.hide{
	display:none;
}

@font-face {
    font-family: "Nexa";
    src: url(../../fonts/Nexa.otf);
}

@font-face {
    font-family: "NexaBold";
    src: url(../../Nexa-Bold.otf);
}

*{
	padding:0px;
	margin:0px;
	font-family:"Nexa";
}

a{
	transition-duration:.4s;
	color: inherit;
}
.scrolloff {
    pointer-events: none;
}

::-moz-selection { background-color: #333333; color: #ffffff;}
::selection { background-color: #333333; color: #ffffff;}

#showroom{
	border:10px solid #red;
	box-sizing:border-box;
	position:relative;

	width: 100vw;
    max-width:100%;
	overflow:hidden;
}

#showroom a .tile img{
	transition-duration:.4s;
	top:0%;
}
#showroom a:hover .tile img{
	height:120%;
	left:-10%;
	top:-10%;
}

#showroom a:hover .tile.m-double img{
	height:110%;
	left:-5%;
	top:-5%;
}

#showroom .tile{
	/*border:1px solid #ffffff;*/
	box-sizing:border-box;
	height:100vw;
	max-height:100%;
	float:left;
	width:100%;
	background-color:#666666;
	position:relative;
	color:#ffffff;
	cursor:pointer;
	overflow:hidden;
}

#showroom .tile.s-hide{
	display:none;
}

#showroom .tile img{
	height:100%;
	left:0%;
	position:absolute;
	max-width: inherit;
}

#showroom .tile .mask{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	padding:10px 20px 10px 10px;
	opacity:1;
	box-sizing:border-box;

	-webkit-transition-duration: .4s;
    transition-duration: .8s;
}

#showroom .tile .mask.wa22,
#showroom .tile .mask.play,
#showroom .tile .mask.socialmedia,
#showroom .tile .mask.wa11,
#showroom .tile .mask.arrcol,
#showroom .tile .mask.orange,
#showroom .tile .mask.grey{
	background-color: transparent;
	background-size: cover;
}

#showroom .tile .mask.wa22 p,
#showroom .tile .mask.play p,
#showroom .tile .mask.wa11 p,
#showroom .tile .mask.arrcol p{
	display:none;
}

#showroom .tile .mask.wa22{
	background-image: url(../../img/mask/showroom_mask_arrow_2_2.png);
}

#showroom .tile .mask.play{
	background-image: url(../../img/mask/showroom_mask_play_1_1.png);
}

#showroom .tile .mask.socialmedia{
	background-image: url(../../img/mask/showroom_mask_socialmedia_1_1.png);
}

#showroom .tile .mask.wa11{
	background-image: url(../../img/mask/showroom_mask_arrow_1_1.png);
}

#showroom .tile .mask.arrcol{
	background-image: url(../../img/mask/showroom_mask_arrow_color_1_1.png);
}

#showroom .tile .mask.orange{
	background-image: url(../../img/mask/showroom_mask_orange_1_1.png);
}

#showroom .tile .mask.grey{
	background-image: url(../../img/mask/showroom_mask_grey_1_1.png);
}

#showroom .tile:hover .mask,
#showroom .tile .mask.hover,
#showroom .tile:focus .mask{
	opacity:0;
}
#showroom .tile:hover .mask.static{
	opacity:1;
}

#showroom .tile:hover .wipe{
	height:0px;
}

#showroom .tile:hover .mask.wa22{
	background-color:#333333;
}

#showroom .tile .mask .category{
	font-size:14px;
}

#showroom .tile .mask .title{
	font-size:22px;
	position:relative;
	top:20%;
	display:block;
}


@media screen and (min-width:576px)
{
	#showroom{
		height:133vw;
	}

	#showroom .tile.s-hide:not(.m-hide){
		display:block
	}

	#showroom .tile{
		width:33.3333%;
		height:33.3333vw;
		position:absolute;
	}

	#showroom .tile.m-double{
		width:66.6666%;
		height:66.6666vw;
	}

	#showroom .tile.m-c-1{
		left:0%;
	}

	#showroom .tile.m-c-2{
		left:33.3333%;
	}

	#showroom .tile.m-c-3{
		left:66.66666%;
	}

	#showroom .tile.m-r-1{
		top:0%;
	}

	#showroom .tile.m-r-2{
		top:calc(100% / 4);
	}

	#showroom .tile.m-r-3{
		top:calc(100% / 4 * 2);
	}

	#showroom .tile.m-r-4{
		top:calc(100% / 4 * 3);
	}

	#showroom .tile.m-r-5{
		top:calc(100% / 4 * 4);
	}

	#showroom .tile.m-r-6{
		top:calc(100% / 4 * 5);
	}
}



@media screen and (min-width:1200px)
{
	#showroom{
		height:80vw;
	}

	#showroom .tile.s-hide,
	#showroom .tile.m-hide{
		display:block
	}

	#showroom .tile{
		width:20%;
		height:20vw;
	}

	#showroom .tile.m-double{
		width:40%;
		height:40vw;
	}

	#showroom .tile.l-c-1{
		left:0%;
	}

	#showroom .tile.l-c-2{
		left:20%;
	}

	#showroom .tile.l-c-3{
		left:40%;
	}

	#showroom .tile.l-c-4{
		left:60%;
	}

	#showroom .tile.l-c-5{
		left:80%;
	}

	#showroom .tile.l-r-1{
		top:0%;
	}

	#showroom .tile.l-r-2{
		top:25%;
	}

	#showroom .tile.l-r-3{
		top:50%;
	}

	#showroom .tile.l-r-4{
		top:75%;
	}
}

#seofooter{
	line-height:160%;
	margin:60px 0px;
}

#seofooter .text{
	color:#666666;

}

#seofooter .article{
	display: flex;
	flex-direction: column;
}

#seofooter .article:not(:last-child){
	border-bottom: 1px solid #aaaaaa;
	padding-bottom:60px;
	margin-bottom: 60px;
}

#seofooter .article>div{
	padding:20px;
}

#seofooter .article p{
	margin-bottom:10px;
	display:block;
}

#seofooter .article a{
	text-decoration:none;
	position:relative;
	top:20px;
}

#seofooter .article>div.image.right{
	padding:20px 20px 20px 40px;
}

#seofooter .article>div.image.left{
	padding:20px 40px 20px 20px;
}

@media screen and (max-width:1000px){
	#seofooter .article>div.image.left,
	#seofooter .article>div.image.right{
		padding:20px 20px 20px 20px;
	}
}

#seofooter .text h2{
	font-weight:normal;
	line-height:160%;
	min-height: 100px;
}

#seofooter .text h2:after{
	content:"";
	display:block;
	position:relative;
	width:100px;
	height:4px;
	margin:10px 0px 30px 0px;
	background-color:#aaaaaa;
}

#seofooter .image img{
	max-width:100%;
	max-height:400px;
	display:block;
	margin:0px auto;
}

@media screen and (min-width:1000px)
{
	#seofooter .article{
		flex-direction: row;
		/*justify-content: space-around;*/
		justify-content: center;
	}

	#seofooter .article>div{
		width:40%;
		max-width:650px;
	}

	#seofooter .article .image{
		align-self: center;
	}

	#seofooter .article .image img{
		max-width:80%;
		margin:0px auto;
		display:block;
	}

	#seofooter .article>div.left{
		order:1;
	}

	#seofooter .article>div.right{
		order:2;
	}
}

/*footer start*/
footer{
	background-color:#333333;
	color:#ffffff;
	padding:0px;
	overflow:hidden;
	box-sizing:border-box;
}

footer .footer-container{
	max-width:800px;
	margin:0px auto;
}

footer .footer-container-spacer{
	border-bottom:1px solid #ffffff;
	height:0px;
	width:100%;
}

footer .footer-credits{
	display:inline-block;
}

footer .footer-credits.part1 img{
	height:100px;
}

footer .footer-credits.part1{
	margin-right:40px;
}

footer .footer-credits.part2{
	margin-right:80px;
}

footer .footer-credits.part2{
	width:300px;
}
footer .footer-credits.part3{
	width:300px;
}

footer .footer-credits span{
	display:block;
	padding:2px 0px;
}

footer .footer-container.lower{
	text-align:center;
}

footer .footer-container.upper{
	padding:60px 0px;
}

footer .footer-container.lower{
	height:80px;
	line-height:80px;
}

footer a{
	text-decoration:none;
}

footer a:hover{
	text-decoration:none;
	color:rgb(255,55,0);
}

@media screen and (max-width:900px)
{
	footer .footer-credits{
		width:100%;
		display:block;
		padding:20px;
	}
	footer .footer-container.upper{
		padding:20px 0px;
	}
}
/* footer end*/


body {
  color: #333333;
  margin:0;
  padding:0;

  height: 100%;
  overflow-x: hidden;
}

main {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* navigation */
nav{
	position:fixed;
	width:100%;
	top:0px;
	z-index:1000;
	text-align:right;
	transition-duration:.4s;
	padding:0px;
	height:80px;
	/*border-bottom:1px solid #ffffff;*/
	/*background-color:#333333;*/
}

nav .menu-hauptmenue-container,
nav .menu-hauptmenue-englisch-container,
nav .menu-hauptmenue-chinesisch-container{
	margin-top:25px;
	margin-right:0px;
	transition-duration:.4s;
}

@media screen and (max-width: 1400px)
{
	nav .menu-hauptmenue-container,
	nav .menu-hauptmenue-englisch-container,
	nav .menu-hauptmenue-chinesisch-container{
		margin-right:0px
	}
}


@media screen and (max-width: 1300px)
{
	nav .menu-hauptmenue-container,
	nav .menu-hauptmenue-englisch-container,
	nav .menu-hauptmenue-chinesisch-container{
		margin-right:0px
	}
}

@media screen and (max-width: 1200px)
{
	nav .menu-hauptmenue-container,
	nav .menu-hauptmenue-englisch-container,
	nav .menu-hauptmenue-chinesisch-container{
		margin-right:0px
	}
}

@media screen and (max-width: 1400px)
{
	nav #logo div{
		left:30px!important;
	}
}

@media screen and (max-width: 991px)
{
	nav .menu-hauptmenue-container,
	nav .menu-hauptmenue-englisch-container,
	nav .menu-hauptmenue-chinesisch-container{
		margin-top:0px;
		margin-right:inherit
	}
}

nav #logo div{
	width:100px;
	height:100px;

	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 8.0%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
	height: 0;

	position:absolute;
	top:10px;
	left:100px;
	max-width:16%;
	max-width:100px;
	transition-duration:.4s;
	background-image:url(../../img/logo_wagner.png);
	margin-top:27px;
	
	
	max-width:100px;
	max-height:50px;
	padding-top: 65px;
}

nav.sticky #logo div{
	width:40px;
	max-width:40px;
	margin-top: 5px;
	position:absolute;
	top:5px;
	left:20px;
	background-image:url(../../img/logo_wagner.png);
}

@media screen and (max-width: 991px)
{
	nav #logo div{
		width:40px;
		max-width:40px;
		margin-top: 10px;
		position:absolute;
		top:5px;
		left:20px;
		background-image:url(../../img/logo_wagner.png);
	}
}

nav.sticky{
	background-color: rgba(51,51,51, 0.85);

	box-shadow:0px 0px 5px #666666;
	top:0px;
	height:60px;
}

nav.sticky .menu-hauptmenue-container,
nav.sticky .menu-hauptmenue-englisch-container,
nav.sticky .menu-hauptmenue-chinesisch-container{
	margin-top: 25px;
}

@media screen and (max-width: 991px)
{
	nav.sticky .menu-hauptmenue-container,
	nav.sticky .menu-hauptmenue-englisch-container,
	nav.sticky .menu-hauptmenue-chinesisch-container{
		margin-top: 0px;
	}
}


nav.sticky ul{
	/*margin:10px;*/
	margin-right:20px;
}

nav.sticky ul li a{
	color:#ffffff;
	display:block;
	/*
	height:40px;
	line-height:40px;
	*/

}

nav.sticky #mobile-burger .icon-bar{
	color:#ffffff;
}

nav ul li a,
nav ul li{
	font-size:20px;
	font-weight:bold;
	height:20px;
	line-height:20px;
	transition-duration:.2s;
	display:inline-block;
}

nav ul.sub-menu a{
	width:100%;
	display:block;
	height: 40px;
    line-height: 40px;
	
}

nav ul li a,nav ul li span{padding:5px 10px; transition-duration:.4s;}

@media screen and (max-width:1130px)
{
	nav ul li a, nav ul li span {
		padding: 5px 10px;
	}
}

nav ul li a, nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active,
nav ul li{
	text-decoration: none;
	color:#ffffff;
	text-transform: uppercase;
	/*border-radius:8px;*/
	font-size:12px;
	border-top:1px solid transparent;
}

@media screen and (min-width:1500px)
{
	nav ul li a, nav ul li a:focus,
	nav ul li a:hover,
	nav ul li a:active,
	nav ul li{
		font-size:12px;
	}
}

@media screen and (min-width:1600px)
{
	nav ul li a, nav ul li a:focus,
	nav ul li a:hover,
	nav ul li a:active,
	nav ul li{
		font-size:12px;
	}
}


nav ul li a:hover,
nav ul li.current-menu-item a{
	/*background-color:#333333;*/
	border-top:1px solid #ffffff;
}

@media screen and (max-width:991px)
{
	nav ul li.current-menu-item a{
		background-color:#333333;
		color:#ffffff;
		border:0px;
		border-radius:0px;
	}
}

nav.sticky ul li a:hover{
	color:#ffffff;
}

nav ul{
	list-style-type: none;
    margin: 10px 50px 0px 0px;
    padding: 0;
}


nav.sticky ul{
	margin: 0px 50px 0px 0px;
}

nav ul li{
	display:inline-block;
	/*padding:10px;*/
	height:60px;
	box-sizing:border-box;
}

#mobile-burger{
	display:none;
	height:60px;
	line-height:60px;
	cursor:pointer;
}

#mobile-burger .icon-bar{
	width:30px;
	height:2px;
	margin-bottom:2px;
	background-color:#ffffff;
	position:absolute;
	right:20px;
	top:24px;
	transition-duration:.3s;
}

#mobile-burger .icon-bar:nth-child(2){
	top:30px;
}

#mobile-burger .icon-bar:nth-child(3){
	top:36px;
}
nav.show #mobile-burger .icon-bar:nth-child(1){
	-moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

nav.show #mobile-burger .icon-bar:nth-child(2){
	opacity:0;

	right:-50px;
	width:0px;

}

nav.show #mobile-burger .icon-bar:nth-child(3){
	-moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

nav.show #mobile-burger .icon-bar:nth-child(1),
nav.show #mobile-burger .icon-bar:nth-child(3){
	width:22px;
	top:28px;
	right:24px;
}

@media screen and (max-width:991px){

	#mobile-burger{
		display:block;
	}

	nav{
		top:0px;
		height: 60px;
	}

	nav ul li{
		display:block;
		text-align:center;
		/*padding:20px;*/
	}

	nav ul{
		display:none;
		background-color:rgba(255,255,255,.975);
		position:relative;
	}
	nav ul li{
		border-bottom: 1px solid #eeeeee;
	}
	nav.sticky ul{
		margin:0px;
	}

	/* LIKE STICKY MENU */
	nav{
	background-color:rgba(51,51,51, 0.5);
	box-shadow:0px 0px 5px #666666;
	}

	nav ul{
		margin:0px;
	}

	nav ul li a{
		color:#333333;
		display:block;
		height:60px;
		line-height:60px;
		width:100%;
		display:block;
		padding:0px;
	}
	nav.sticky ul li a{
		color:#333333;
	}
	nav.sticky ul li.current_page_item a{
		color:#ffffff;
	}

	/* LIKE STICKY MENU */

}

ul#menu-hauptmenue li ul.sub-menu,
ul#menu-hauptmenue-englisch li ul.sub-menu,
ul#menu-hauptmenue-chinesisch li ul.sub-menu {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow:0px 1px 1px #555555;
  top:60px;
}

nav:not(.sticky) ul#menu-hauptmenue li ul.sub-menu,
nav:not(.sticky) ul#menu-hauptmenue-englisch li ul.sub-menu,
nav:not(.sticky) ul#menu-hauptmenue-chinesisch li ul.sub-menu
{
	background-color: rgba(51, 51, 51, 0.6);
}

ul#menu-hauptmenue li ul.sub-menu li,
ul#menu-hauptmenue-englisch li ul.sub-menu li,
ul#menu-hauptmenue-chinesisch li ul.sub-menu li  {
  display: block;
  text-align:left;
  transition-duration:.4s;
  /*padding:10px 20px;*/
  padding:0px;
}

ul#menu-hauptmenue li ul.sub-menu li:hover,
ul#menu-hauptmenue-englisch li ul.sub-menu li:hover,
ul#menu-hauptmenue-chinesisch li ul.sub-menu li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

nav:not(.sticky) ul#menu-hauptmenue li ul.sub-menu li:hover,
nav:not(.sticky) ul#menu-hauptmenue-englisch li ul.sub-menu li:hover,
nav:not(.sticky) ul#menu-hauptmenue-chinesisch li ul.sub-menu li:hover  {
	background-color: rgba(51, 51, 51, 0.3);
}

ul#menu-hauptmenue li:hover .sub-menu,
ul#menu-hauptmenue-englisch li:hover .sub-menu,
ul#menu-hauptmenue-chinesisch li:hover .sub-menu{
	display:block;
}

nav:not(.sticky) ul#menu-hauptmenue > li.menu-item-has-children:hover,
nav:not(.sticky) ul#menu-hauptmenue-englisch > li.menu-item-has-children:hover,
nav:not(.sticky) ul#menu-hauptmenue-chinesisch > li.menu-item-has-children:hover{
	 background-color: rgba(51, 51, 51, 0.6);
	 box-shadow:0px 0px 2px #555555;
	 border-bottom: 1px solid #333333;
}

ul#menu-hauptmenue .submenuopen,
ul#menu-hauptmenue-englisch .submenuopen,
ul#menu-hauptmenue-chinesisch .submenuopen{
	display:none;
}

@media screen and (max-width:991px){

	ul#menu-hauptmenue, ul#menu-hauptmenue *,
	ul#menu-hauptmenue-englisch, ul#menu-hauptmenue-englisch *,
	ul#menu-hauptmenue-chinesisch, ul#menu-hauptmenue-chinesisch *{
		box-sizing:border-box;
	}

	nav.sticky ul li a{
		height:60px;
		line-height:60px;
	}

	ul#menu-hauptmenue,
	ul#menu-hauptmenue ul,
	ul#menu-hauptmenue-englisch,
	ul#menu-hauptmenue-englisch ul,
	ul#menu-hauptmenue-chinesisch,
	ul#menu-hauptmenue-chinesisch ul{
		position:inherit;
	}

	ul#menu-hauptmenue>li,
	ul#menu-hauptmenue>ul>li,
	ul#menu-hauptmenue-englisch>li,
	ul#menu-hauptmenue-englisch>ul>li,
	ul#menu-hauptmenue-chinesisch>li,
	ul#menu-hauptmenue-chinesisch>ul>li{
		display:inline-block;
		width:100%;
		height:60px;
		position:inherit;
	}

	nav:not(.sticky) ul#menu-hauptmenue > li.menu-item-has-children:hover,
	nav:not(.sticky) ul#menu-hauptmenue-englisch > li.menu-item-has-children:hover,
	nav:not(.sticky) ul#menu-hauptmenue-chinesisch > li.menu-item-has-children:hover{
		border-bottom:1px solid #eeeeee;
	}

	ul#menu-hauptmenue li ul.sub-menu li,
	ul#menu-hauptmenue-englisch li ul.sub-menu li,
	ul#menu-hauptmenue-chinesisch li ul.sub-menu li	{
		display:none;
		background-color:#ffffff;
	}

	ul#menu-hauptmenue li ul.sub-menu a,
	ul#menu-hauptmenue-englisch li ul.sub-menu a,
	ul#menu-hauptmenue-chinesisch li ul.sub-menu a	{
		padding:0px 0px 0px 0px;
	}

	ul#menu-hauptmenue li ul.sub-menu,
	ul#menu-hauptmenue-englisch li ul.sub-menu,
	ul#menu-hauptmenue-chinesisch li ul.sub-menu{
		/*
		margin-top:15px;
		margin-left:-20px;
		margin-right:-20px;
		*/
		position:inherit;
		box-shadow:inherit;
	}

	nav:not(.sticky) ul#menu-hauptmenue > li.menu-item-has-children:hover,
	nav:not(.sticky) ul#menu-hauptmenue-englisch > li.menu-item-has-children:hover,
	nav:not(.sticky) ul#menu-hauptmenue-chinesisch > li.menu-item-has-children:hover{
		box-shadow:inherit;
	}

	ul#menu-hauptmenue li ul.sub-menu li,
	ul#menu-hauptmenue-englisch li ul.sub-menu li,
	ul#menu-hauptmenue-chinesisch li ul.sub-menu li{
		display:none;
	}

	ul#menu-hauptmenue li ul.sub-menu li,
	ul#menu-hauptmenue-englisch li ul.sub-menu li,
	ul#menu-hauptmenue-chinesisch li ul.sub-menu li{
		text-align:center;
		padding:0px;
		height:60px;
		background-color: rgba(51, 51, 51, 0.1);
	}

	ul#menu-hauptmenue li ul.sub-menu li a,
	ul#menu-hauptmenue-englisch li ul.sub-menu li a,
	ul#menu-hauptmenue-chinesisch li ul.sub-menu li a{
		width:100%;
		display:block;
		height: 60px;
		line-height: 60px;
		color:#ffffff;
	}

	ul#menu-hauptmenue > li.menu-item-has-children:after:hover ul.sub-menu li,
	ul#menu-hauptmenue-englisch > li.menu-item-has-children:after:hover ul.sub-menu li,
	ul#menu-hauptmenue-chinesisch > li.menu-item-has-children:after:hover ul.sub-menu li{
		display:inline-block;
		width:100%;
	}

	ul#menu-hauptmenue .submenuopen,
	ul#menu-hauptmenue-englisch .submenuopen,
	ul#menu-hauptmenue-chinesisch .submenuopen{
		display: inline-block;
		z-index: 20;
		float: right;
		position: static;
		margin-left:-40px;
		width: 40px;
		height: 40px;
		right: 15px;
		margin-top:10px;
		position:relative;
	}

	ul#menu-hauptmenue .submenuopen:before,
	ul#menu-hauptmenue-englisch .submenuopen:before,
	ul#menu-hauptmenue-chinesisch .submenuopen:before{
		color:#333333;
		font-size:40px;
		transition-duration:.8s;
		cursor:pointer;
		position:relative;
		z-index:10;
	}

	ul#menu-hauptmenue .submenuopen,
	ul#menu-hauptmenue-englisch .submenuopen,
	ul#menu-hauptmenue-chinesisch .submenuopen{
		transform: rotate(0deg);
		transition-duration:.8s;
	}

	ul#menu-hauptmenue > li.showm ul.sub-menu li,
	ul#menu-hauptmenue-englisch > li.showm ul.sub-menu li,
	ul#menu-hauptmenue-chinesisch > li.showm ul.sub-menu li{
		display:inline-block;
		width:100%;
		border-bottom:1px solid #ffffff;
	}

	ul#menu-hauptmenue>li.showm + li,
	ul#menu-hauptmenue-englisch>li.showm + li,
	ul#menu-hauptmenue-chinesisch>li.showm + li{
		/*padding:20px 20px 40px 20px;*/
		margin-top:20px;
	}

	ul#menu-hauptmenue>li.showm .submenuopen:before,
	ul#menu-hauptmenue-englisch>li.showm .submenuopen:before,
	ul#menu-hauptmenue-chinesisch>li.showm .submenuopen:before{
		color:#333333;
		font-size:20px;

	}
	ul#menu-hauptmenue>li.showm .submenuopen,
	ul#menu-hauptmenue-englisch>li.showm .submenuopen,
	ul#menu-hauptmenue-chinesisch>li.showm .submenuopen{
		transform: rotate(180deg);
		margin-top:0px;
	}

	nav.newscrollposition{
		position:absolute;
	}

	nav ul li:hover a,
	ul#menu-hauptmenue li ul.sub-menu li a,
	ul#menu-hauptmenue-englisch li ul.sub-menu li a,
	ul#menu-hauptmenue-chinesisch li ul.sub-menu li a{
		color:#ffffff;
		background-color:#333333;
		border-radius:0px;
	}

}

/* Artikel */

.article_container{
	padding:20px;
	overflow:hidden;

	position:relative;
	display:block;
	margin:0px auto;
	max-width:800px;
}

.article_container article{
	float:left;
	width:33.33%;
	max-width:400px;
	box-sizing:border-box;
	padding:20px 40px;
	height: 750px;
}

.article_container article a{
	text-decoration:none;
	color:inherit;
}

.article_container article:hover h3,
.article_container article:hover p{
	color:#333333;
}

.article_container article h3+p{
	min-height:300px;
}

.article_container article[onclick]{
	cursor:pointer;
}

.article_container article:hover h3:after{
	background-color:#333333;
}

@media screen and (max-width:991px){
	.article_container article{
		width:50%;
		padding:20px 40px;
	}
	.article_container{
		max-width:800px;
	}
}

@media screen and (max-width:767px){
	.article_container article{
		width:100%;
		padding:20px 10px;
	}
	.article_container{
		max-width:400px;
	}
}

.article_container article img{
	max-width:100%;
	box-shadow:2px 2px 2px #eeeeee;
	position:relative;
	display:block;
	margin:0px auto;
}

.article_container article h3{
	padding:20px 0px 0px 0px;
	line-height:30px;
	min-height:95px;
}

.article_container article h3:after{
    content: "";
    display: block;
    position: relative;
    width: 100px;
    height: 4px;
    margin: 10px 0px 30px 0px;
    background-color: #aaaaaa;
}

#content h2:after{
    content: "";
    display: block;
    position: relative;
    width: 60px;
    height: 1px;
    margin: 20px 0px -20px 0px;
    background-color: #333333;
}

.article_container article p,
.fl-rich-text p,
#content .fl-rich-text ul li, 
#content .fl-accordion ul li{
	line-height:180%;
	font-size:90%;
}

.article_container article p,
.fl-rich-text p{
	text-align:justify;
}

@media screen and (max-width:575px)
{
	.article_container article p,
	.fl-rich-text p{
		text-align:left;
	}
}

body:not(.page-id-15) #content>.fl-builder-content{
	/*padding-top:50px;*/
}

#content>h1, #content>h2, #content>h3, #content>h4, #content>h5,
#content>p{
	display:block;
	margin:0px auto;
	padding: 20px 20px;
	max-width:800px;
}

h1,h2,h3{
	text-transform:uppercase;
}

.fl-row-fixed-width{
    max-width: 880px;
}
.centercontent{
	max-width: 840px;
	margin:0px auto;
}

#content>p{
	padding:10px 40px;
	text-align:justify;
}

#content>ul{
	display:block;
	margin:0px auto;
	padding:10px 40px 10px 70px;
	max-width:800px;
}

#content>ul li, #content .fl-rich-text ul li, #content .fl-accordion ul li{
	padding:5px 10px;
	transition-duration:.4s;
}

#content .fl-rich-text ul li, #content .fl-accordion ul li{
    margin-left: 20px;
	line-height:24px;
}

#content>ul li:hover, #content .fl-rich-text ul li:hover, #content .fl-accordion ul li:hover{
	color:#333333;
	padding-left:20px;
}

#content>p a{
	color:#333333;
	text-decoration:none;
}

#content>p a:hover{
	color:#333333;
	text-decoration:underline;
}

#content>p{
	line-height:25px;
}

#content>.socialmedia
{
	display:block;
	margin:0px auto;
	padding:0px 40px;
	max-width:800px;
	overflow:hidden;
}

#content>.socialmedia a{
	display:inline-block;
	float:left;
}

#content>.socialmedia i{
	display:inline-block;
	float:left;
	padding:0px 5px;
}

#content>.socialmedia i:hover:before{
	/*color:#333333;*/
}

/* Blending Mask */
.hide-down-white{
  display: block;
  text-indent: -9999px;
  margin-bottom: -196px;
  width: 110%;
  left:-5%;
  height: 220px;
  position:relative;
  background: url(../../img/mask/hide-down-white.svg);
  background-size: 100% auto;
  background-repeat:no-repeat;
  z-index:9;
  transition-duration:1.4s;
}

.hide-down-white.showcontent{
	margin-bottom: 22px;
	height:0px;
}

.mask-raster{
	width:100%;
	height:500px;
	margin-top:-20px;
	background: url(../../img/mask/mask_2x2.png);
	position:absolute;
	opacity:.7;
	z-index:8;
	transition-duration:.4s;
	cursor:pointer;
}
.mask-raster:hover{
	opacity:.3;
}

/* IFrame */
iframe {
	margin-bottom:-5px;
}

#teambox .fl-col-group div.fl-photo-content:after,
#teambox .fl-col-group div.fl-photo-content img{
	transition-duration:.2s;
}

#teambox .fl-col-group div.fl-photo-content:after{
	width:100%;
	height:100%;
	margin-top:-100%;
	content:"";
	display:block;
	position:absolute;
	background-color:#333333;
	opacity:0;
	transition-duration:.4s;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+45,000000+45,ff8215+100&0+0,1+100 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 45%, rgba(255,130,21,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 45%,rgba(255,130,21,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 45%,rgba(255,130,21,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#teambox .fl-col-group:hover div.fl-photo-content:after{
	opacity:.5;
}

/*carussell*/

.customcarouselitem{
	background-position:center center;
	background-size:cover;
}
































/* Startseite - Software */
.leistungs_element_webdesign{
	max-width: 480px;
	max-height: 480px;
	width: 100%;
	height: calc(40vw - 70px);
	border: 0px solid red;
	position: relative;
	overflow:hidden;
	margin:0px auto;
	background-color:#424242;
}

#seofooter .article h2 p{display:none;}

#whatweare{display:inline-block;}

.leistungs_element_webdesign p{display:none!important;}

@media screen and (max-width:1000px)
{
	.leistungs_element_webdesign{
		height:calc(100% - 40px);
	}
}

.zr{
	width: calc(100% / 4.8);
    height: calc(100% / 4.8);

	background-image:url(../../img/startseite/software/zr_b.png);
	background-size: 100%;
    animation-duration: 4s;
	position:absolute;

	-webkit-transition: .3s linear;
	-moz-transition:    .3s linear;
	-o-transition:      .3s linear;
	transition: 		.3s linear;
}
.leistungs_element_webdesign:hover .zr{
	background-image:url(../../img/startseite/software/zr_o.png);
}

.leistungs_element_webdesign:hover .zr_desc{

    -webkit-filter: blur(10px) grayscale(100%); /* Chrome, Safari, Opera */
    filter: blur(10px) grayscale(100%);

	transition: .5s linear;
}

.leistungs_element_webdesign:hover .zr{
	z-index:1;
}

#zr1{
	animation-name: zr1;
	left:9.7%;
	top:20%;
}
#zr2{
	animation-name: zr2;
	left:26%;
	top:32%;
}
#zr3{
	animation-name: zr3;
	left:34%;
	top:14%;
}

#maske{
    max-width: 480px;
	max-height: 480px;
	width: 100%;
	height: 80vw;
	z-index:2;

    background-image:url(../../img/startseite/software/zr_maske.png);
	background-size:100%;
	background-repeat:no-repeat;
	border:0px solid blue;

	position:relative;
	left:0px;
	top:0px;
}


@media screen and (max-width:1000px)
{
	#maske{
		height:calc(100vw - 60px);
	}
}

#maske_bg{
    width: 300px;
    height: 240px;
    background-color: #333333;

	position:absolute;
	left:50px;
	top:30px;
}

.infinite{
	-webkit-animation-timing-function: 	linear;
	-moz-animation-timing-function:    	linear;
	-o-animation-timing-function:      	linear;
	animation-timing-function: 			linear;

	-webkit-animation-iteration-count: 	infinite;
	-moz-animation-iteration-count:    	infinite;
	-o-animation-iteration-count:      	infinite;
	animation-iteration-count: 			infinite;
}

.rotate {
	-webkit-animation-timing-function: 	linear;
	-moz-animation-timing-function:    	linear;
	-o-animation-timing-function:      	linear;
	animation-timing-function: 			linear;

	-webkit-animation-iteration-count: 	infinite;
	-moz-animation-iteration-count:    	infinite;
	-o-animation-iteration-count:      	infinite;
	animation-iteration-count: 			infinite;
}

@keyframes zr1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes zr2 {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

@keyframes zr3 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.zr_desc{
	animation-duration: 20s;
	background-size: 100%;
}

#zr_desc_s{
	background-image:url(../../img/startseite/software/zr_desc_s.png);
	position:absolute;
	top:57.50%;
	left: 89.7%;
	max-width: 67px;
	max-height: 155px;
	width: calc(100% / 7);
    height: calc(100% / 3);
	animation-name: zr_desc_s;
}

#zr_desc_m{
	background-image:url(../../img/startseite/software/zr_desc_m.png);
	position:absolute;
    top: 29%;
    left: 68.3%;
    max-width: 174px;
    max-height: 207px;
    width: calc(100% / 2.75);
    height: calc(100% / 2.4);
	animation-name: zr_desc_m;
}

#zr_desc_l{
	background-image:url(../../img/startseite/software/zr_desc_l.png);
	position:absolute;
    top: 22.5%;
    left: 1.3%;
    max-width: 195px;
    max-height: 222px;
    width: calc(100% / 2.45);
    height: calc(100% / 2.15);
	animation-name: zr_desc_l;
}

#zr_desc_xl{
	background-image:url(../../img/startseite/software/zr_desc_xl.png);
	position:absolute;
    top: 22.8%;
    left: 23.9%;
    max-width: 288px;
    max-height: 321px;
    width: calc(100% / 1.67);
    height: calc(100% / 1.5);
	animation-name: zr_desc_xl;
}

@keyframes zr_desc_s {
    0%   {opacity: 0;}
	5%   {opacity: 0;}
    20%  {opacity: 100;}
	80%  {opacity: 100;}
	100% {opacity: 0;}
}

@keyframes zr_desc_m {
    0%   {opacity: 0;}
	15%   {opacity: 0;}
    30%  {opacity: 100;}
	80%  {opacity: 100;}
	100% {opacity: 0;}
}

@keyframes zr_desc_l {
    0%   {opacity: 0;}
	25%   {opacity: 0;}
    50%  {opacity: 100;}
	80%  {opacity: 100;}
	100% {opacity: 0;}
}

@keyframes zr_desc_xl {
    0%   {opacity: 0;}
	45%   {opacity: 0;}
    60%  {opacity: 100;}
	80%  {opacity: 100;}
	100% {opacity: 0;}
}





































/* Social Media */
.leistungs_element_socialmedia{
	max-width: 480px;
	max-height: 480px;
	width: 100%;
	height: calc(40vw - 60px);
	border: 0px solid red;
	position: relative;
	overflow:hidden;
	margin:0px auto;

	background-image:url(../../img/startseite/socialmedia/socialmedia.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:100% auto;
}

@media screen and (max-width:1000px)
{
	.leistungs_element_socialmedia{
		height:calc(100vw - 40px);
	}
}
.socialmedia_part{
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:100% auto;
	position:absolute;
	width:12%;
	height:12%;
	opacity:0;
}

.socialmedia_part.part1{
	top:7%;
	left:45%;
	background-image:url(../../img/startseite/socialmedia/soc1.png);
}

.leistungs_element_socialmedia:hover .socialmedia_part.part1{
	 animation: socialmedia_part1 1s 1 forwards;
}

@keyframes socialmedia_part1 {
    0%   {opacity:1; 	left:40%; 	top: 10%;	width:0%;	height:0%;}
    25%  {opacity:1;	left:60%;	top: 3%;	width:6%;	height:6%;}
	100% {opacity:1;	left:42%;	top:7%;		width:12%;	height:12%;}
}

.socialmedia_part.part2{
	top:22%;
	left:80%;
	background-image:url(../../img/startseite/socialmedia/soc2.png);
}

.leistungs_element_socialmedia:hover .socialmedia_part.part2{
	 animation: socialmedia_part2 1s 1 forwards;
}

@keyframes socialmedia_part2 {
    0%   {opacity:1; 	left:90%; 	top: 30%;	width:0%;	height:0%;}
    25%  {opacity:1;	left:75%;	top: 35%;	width:6%;	height:6%;}
	100% {opacity:1;	left:80%;	top: 22%;	width:12%;	height:12%;}
}

.socialmedia_part.part3{
	top:32%;
	left:68%;
	background-image:url(../../img/startseite/socialmedia/soc3.png);
}

.leistungs_element_socialmedia:hover .socialmedia_part.part3{
	 animation: socialmedia_part3 1s 1 forwards;
}

@keyframes socialmedia_part3 {
    0%   {opacity:1; 	left:60%; 	top: 35%;	width:0%;	height:0%;}
    45%  {opacity:1;	left:45%;	top: 45%;	width:6%;	height:6%;}
	100% {opacity:1;	left:68%;	top: 32%;	width:12%;	height:12%;}
}

.socialmedia_part.part4{
	top:30%;
	left:0%;
	background-image:url(../../img/startseite/socialmedia/soc4.png);
}

.leistungs_element_socialmedia:hover .socialmedia_part.part4{
	 animation: socialmedia_part4 1s 1 forwards;
}

@keyframes socialmedia_part4 {
    0%   {opacity:1; 	left:15%; 	top: 35%;	width:0%;	height:0%;}
    25%  {opacity:1;	left:20%;	top: 37%;	width:6%;	height:6%;}
	100% {opacity:1;	left:0%;	top: 30%;	width:12%;	height:12%;}
}

.socialmedia_part.part5{
	top:56%;
	left:8%;
	background-image:url(../../img/startseite/socialmedia/soc5.png);
}

.leistungs_element_socialmedia:hover .socialmedia_part.part5{
	 animation: socialmedia_part5 1s 1 forwards;
}

@keyframes socialmedia_part5 {
    0%   {opacity:1; 	left:18%; 	top: 70%;	width:0%;	height:0%;}
    25%  {opacity:1;	left:5%;	top: 60%;	width:6%;	height:6%;}
	100% {opacity:1;	left:8%;	top: 56%;	width:12%;	height:12%;}
}


.socialmedia_part.part6{
	top:77%;
	left:70%;
	background-image:url(../../img/startseite/socialmedia/soc6.png);
}

.leistungs_element_socialmedia:hover .socialmedia_part.part6{
	 animation: socialmedia_part6 1s 1 forwards;
}

@keyframes socialmedia_part6 {
    0%   {opacity:1; 	left:80%; 	top: 70%;	width:0%;	height:0%;}
    45%  {opacity:1;	left:88%;	top: 80%;	width:6%;	height:6%;}
	100% {opacity:1;	left:70%;	top: 77%;	width:12%;	height:12%;}
}




/* Ecommerce start */

.leistungs_element_ecommerce{
	max-width: 480px;
	max-height: 480px;
	width: 80vw;
	height: 80vw;
	border: 0px solid red;
	position: relative;
	overflow:hidden;
	margin:0px auto;
}

.ecommerce_saturn_ebay, .ecommerce_saturn_amazon, .ecommerce_saturn_rakuten{
transition: 0.6s linear;
}

.leistungs_element_ecommerce:hover .ecommerce_saturn_ebay
{
	background-image:url(../../img/startseite/ecommerce/pim_morph.png);
	background-size:20%;
	opacity:.2;
}

.leistungs_element_ecommerce:hover .ecommerce_saturn_amazon
{
	background-image:url(../../img/startseite/ecommerce/shopcms_morph.png);
	background-size:45%;
	opacity:.2;
}

.leistungs_element_ecommerce:hover .ecommerce_saturn_rakuten
{
	background-image:url(../../img/startseite/ecommerce/wawi_morph.png);
	background-size:20%;
	background-position: 30% 0%;
	opacity:.2;
}

.leistungs_element_ecommerce:hover .ecommerce_rakete
{
	background-image:url(../../img/startseite/ecommerce/ecommerce_rocket_white.png);
}

.leistungs_element_ecommerce:hover .ecommerce_umlaufbahn{
	background:none;
	background-image:url(../../img/startseite/ecommerce/ecommerce_space.png);
	border:10px solid #333333;
	opacity:0.65;
}

.ecommerce_umlaufbahn{
    position: absolute;
    left: 12%;
    top: 12%;
	width:76%;
	height:76%;
	border-radius:50%;
	border: 5px solid #efefef;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: repeating-linear-gradient(45deg,#e0e0e0,#e0e0e0 20px,#efefef 20px,#efefef 40px);
}
.ecommerce_earth{
	transition: 0.6s linear;
    position: absolute;
    left: 35%;
    top: 35%;
	width:30%;
	height:30%;
	border-radius:50%;
	background-color:#ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 10px solid #e0e0e0;

	background-repeat:no-repeat;
	background-size: 60%;
	background-position:50% 50%;
	background-image:url(../../img/startseite/ecommerce/ecommerce_shopping.png);
}
.ecommerce_rakete{
    position: absolute;
    left: calc(50% - 10%);
    top: calc(50% - 10%);
	width:15%;
	height:15%;
	background-image:url(../../img/startseite/ecommerce/ecommerce_rocket.png);
	background-repeat:no-repeat;
	background-size: 100%;
	background-position:50% 50%;

	border: 0px solid blue;
    animation: ecommerce_rakete 18s linear infinite;
}

@keyframes ecommerce_rakete {
	0%{	transform: rotate(410deg) translateX(200%);}
    100%{transform: rotate(50deg) translateX(200%);}
}

.ecommerce_saturn_ebay {
    position: absolute;
    left: calc(50% - 10%);
    top: calc(50% - 10%);
	width:15%;
	height:15%;
	background-size:100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image:url(../../img/startseite/ecommerce/pim.png);
	border: 0px solid red;
    animation: ecommerce_saturn_ebay 10s linear infinite;
}
@keyframes ecommerce_saturn_ebay {
	0%{transform: rotate(0deg) translateX(200%) rotate(0deg);}
    100%{transform: rotate(360deg) translateX(200%) rotate(-360deg);}
}

.ecommerce_saturn_amazon {
    position: absolute;
    left: calc(50% - 10%);
    top: calc(50% - 10%);
	width:15%;
	height:15%;
	background-size:100%;
	background-position:50% 50%;
	background-image:url(../../img/startseite/ecommerce/shopcms.png);
	border: 0px solid red;
	background-repeat:no-repeat;
    animation: ecommerce_saturn_amazon 10s linear infinite;
}
@keyframes ecommerce_saturn_amazon {
	0%{transform: rotate(120deg) translateX(200%) rotate(0deg) rotate(-120deg);}
    100%{transform: rotate(480deg) translateX(200%) rotate(-360deg) rotate(-120deg);}
}

.ecommerce_saturn_rakuten {
    position: absolute;
    left: calc(50% - 10%);
    top: calc(50% - 10%);
	width:20%;
	height:20%;
	background-size:100%;
	background-image:url(../../img/startseite/ecommerce/wawi.png);
	background-repeat:no-repeat;
	border: 0px solid red;
    animation: ecommerce_saturn_rakuten 10s linear infinite;
}
@keyframes ecommerce_saturn_rakuten {
	0%{transform: rotate(240deg) translateX(200%) rotate(0deg) rotate(-240deg);}
    100%{transform: rotate(600deg) translateX(200%) rotate(-360deg) rotate(-240deg);}
}

/* Ecommerce ende */







/* Dienstleistungen start */

.leistungs_element_dienstleistungen{
	max-width: 480px;
	max-height: 480px;
	width: 80vw;
	height: 80vw;
	border: 0px solid red;
	position: relative;
	overflow:hidden;
	margin:0px auto;
}

.leistungs_element_dienstleistungen .dienstleistungen{
	color:#ffffff;
	position:absolute;
	opacity:.8;
	border-radius:50%;
	transition-duration:.4s;
}

.leistungs_element_dienstleistungen .dienstleistungen.part1{
	background-color:#000000;
	width:70.8%;
	height:70.8%;
	top:2%;
	left:2%;
	z-index:3;
	
	padding:15% 11%;
	font-size:40px;
	line-height:60px;
}

.leistungs_element_dienstleistungen .dienstleistungen.part2{
	background-color:#222222;
	height:40.8%;
	width:40.8%;
	bottom:15%;
	right:15%;
	z-index:1;
	
	padding:13% 8%;
	font-size:20px;
	line-height:35px;
	text-align:center;
}

.leistungs_element_dienstleistungen .dienstleistungen.part3{
	background-color:#444444;
	height:25.4%;
	width:25.4%;
	bottom:48%;
	right:11%;
	z-index:2;
	
	padding:7% 5%;
	font-size:12px;
	line-height:20px;
	text-align:right;
}

.leistungs_element_dienstleistungen .dienstleistungen:hover,
.leistungs_element_dienstleistungen .dienstleistungen:focus{
	z-index:5;
	background-color:#333333;
	opacity:1;
	box-shadow:0px 0px 10px #333333;
}

@media screen and (max-width:600px){
	.leistungs_element_dienstleistungen .dienstleistungen.part1{
		font-size:6.5vw;
		line-height:11vw;
	}
	
	.leistungs_element_dienstleistungen .dienstleistungen.part2{
		font-size:3.5vw;
		line-height:6vw;
	}
	
	.leistungs_element_dienstleistungen .dienstleistungen.part3{
		font-size: 2.5vw;
		line-height: 3vw;
		padding: 7% 2.2%;
	}
}
























.feature_image {
  box-sizing: border-box;
  /*
  max-height: 80vh;
  min-height:60vh;
  */
  height: calc(80vw / 16 * 7);
  /*
  max-height: 50vh;
  min-height: 50vh;
  */
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100%;

  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}

.feature_image .overlay {
  position: relative;
  height: inherit;
  max-height: inherit;
  min-height: inherit;
}

.feature_image .overlay * {
  font-weight: normal;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 1em 0;
  color:#ffffff;
}

.feature_image .overlay .content {
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 1240px;
    padding: 30px 20px;
}

.feature_image .overlay .content h1{
	/*background-color: rgba(51,51,51,0.6);*/
	padding:20px;
	position: absolute;
	bottom: 40%;

	font-weight: bold;
	font-size: 80px;
	letter-spacing: -3.1px;
	background-color:inherit;
	text-align:center;
	display:block;
	width:calc(100% - 100px);
	word-break:keep-all;
	/*text-shadow:0px 0px 5px #ffffff;*/
	/*font-size:6vw;*/
	z-index:100;
	color:#ffffff;
}

.feature_image .overlay .content h2 {
	/*background-color: rgba(51,51,51,0.6);*/
	padding:20px;
	position: absolute;
	bottom: 30%;

	font-weight: bold;
	font-size: 30px;
	letter-spacing: 0px;
	background-color:inherit;
	text-align:center;
	display:block;
	width:calc(100% - 100px);
	word-break:keep-all;
	/*text-shadow:0px 0px 5px #ffffff;*/
	/*font-size:6vw;*/
	z-index:100;
	color:#ffffff;
}

.maskbg{position:relative;}
.maskbg h1, .maskbg h2{
	border:0px solid red;
	width:80%;
	left:10%;
	margin:0px auto;
	position:absolute;
	text-align:center;
	word-break:keep-all;
	color:#ffffff;
	transition-duration:.4s;
}

.maskbg h1{
	bottom:250px;
	font-size:4vw;
	width:60%;
	left:20%;
}
.maskbg h2{
	bottom:180px;
}

@media screen and (max-width:1800px)
{
	.maskbg h1{bottom:250px;}
	.maskbg h2{bottom:150px;}
}

@media screen and (max-width:1500px)
{
	.maskbg h1{bottom:200px;}
	.maskbg h2{bottom:100px;}
}

@media screen and (max-width:1300px)
{
	.maskbg h1{bottom:120px;width:80%;left:10%;}
	.maskbg h2{bottom:80px;}
}

@media screen and (max-width:800px)
{
	.maskbg h1{bottom:100px;width:80%;left:10%;}
	.maskbg h2{bottom:50px; font-size:2vw;}
}

@media screen and (max-width:600px)
{
	.maskbg h1{bottom:80px;}
	.maskbg h2{bottom:50px;}
}


@media screen and (max-width:480px)
{
	.maskbg h1{bottom:60px;}
	.maskbg h2{bottom:20px; font-size:3vw;}
}

@media screen and (max-width:350px)
{
	.maskbg h1{bottom:40px;}
	.maskbg h2{bottom:20px; font-size:3vw;}
}


@media screen and (max-width: 1199px){
	.feature_image .overlay .content h1{
		font-size: 60px;
		box-sizing:border-box;
		padding:20px 100px;
		letter-spacing: 0px;
	}
}

@media screen and (max-width: 991px){
	.feature_image .overlay .content h1{
		font-size: 45px;
		padding:20px;
		width: calc(100% - 40px);
	}
}

@media screen and (max-width: 575px){
	.feature_image .overlay .content h1{
		font-size: 35px;
	}
}

@media screen and (max-width: 400px){
	.feature_image .overlay .content h1{
		font-size: 24px;
	}
}

.fl-rich-text h2{
	line-height:28px;
}

.fl-accordion-item:before{
	content:"neu";
	padding:4px;
	background-color:#333333;
	color:#ffffff;
	position:absolute;
	right:80px;
	margin-top:10px;
	font-size:12px;
	border-radius:6px;
}

.fl-accordion-content{
	padding-top:30px!important;
}

.fl-accordion-button-label{
	padding-right: 60px;
}

    
/* Blog start */

.blogcontainer h2 a,
.blogcontainer h2 a:link,
.blogcontainer h2 a:visited,
.blogcontainer h2 a:active{	
	color:#333333;	
}

.blogcontainer .fl-post-grid-post{
	border: 0px solid #333333;
	transition-duration:1s;
}

.fl-post-grid.masonry:hover .fl-post-grid-post{
	/*opacity:.4;*/
}

.blogcontainer .fl-post-grid-post:hover{
	/*border: 1px solid #333333;
	background-color: #333333;
	color:#ffffff;*/
}

.blogcontainer .fl-post-grid-post{
	margin-bottom:100px;
}

#content .blogcontainer .fl-post-grid-post:hover h2:after{
	/*background-color: #333333;*/
}

.blogcontainer .fl-builder-pagination li{

}

.blogcontainer .fl-builder-pagination li a.page-numbers, 
.blogcontainer .fl-builder-pagination li span.page-numbers{
	margin: 0 0 0px;
	color:#ffffff;
	padding: 10px 15px;
	
	background-color:#009ee0;
	border-radius:5px;
	border: 1px solid #009ee0;
}

.blogcontainer .fl-builder-pagination li a.page-numbers:hover,
.blogcontainer .fl-builder-pagination li span.current{
	background: #ffffff;
	color: #009ee0;
	border: 1px solid #009ee0;
	border-radius:5px;
	
	margin-bottom:5px;
	
}

.blogcontainer .fl-builder-pagination li a{
	text-decoration:none;
}

/* Blog ende */

/* Blog Social Media start */

#content>.socialmedia{
	margin-top:10px;
}

h3.presocial{
	display:block;
	margin-top:30px!important;
}

.socialmedia i{
	font-size:26px;
	color: #666666;
	transition-duration:.4s;
}
.socialmedia i:before{
	transition-duration:.4s;
}

.socialmedia i:before:hover{
	color: #333333;
}

/* Blog Social Media ende */


/* Blog Page start */

a.fl-post-grid-more
{
    padding: 2px 20px 15px 60px;
    background-color: #009ee0;
    text-transform: uppercase;
    border-radius: 6px;
    height: 50px;
    background-image: url(/wp-content/plugins/custom-bb-modules/customcarousel-module/img/buttonmask.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    line-height: 50px;
    transition-duration: .2s;
    cursor: pointer;
	color:#ffffff;
	margin-left:0px;
	transition-duration:.2s;
	box-shadow:0px 0px 2px #777777;
	display:inline-block;
	margin-top:40px;
}

a.fl-post-grid-more:hover{
	margin-left:10px;
}

/* Blog Page ende */

/* Blog Social Media ende */

.button.seemore
{
    padding: 15px 20px 15px 60px;
    background-color: #009ee0;
    text-transform: uppercase;
    border-radius: 6px;
    height: 50px;
    background-image: url(/wp-content/plugins/custom-bb-modules/customcarousel-module/img/buttonmask.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    line-height: 50px;
    transition-duration: .2s;
    cursor: pointer;
	color:#ffffff;
	margin-left:0px;
	transition-duration:.2s;
	box-shadow:0px 0px 2px #777777;
}

.button.seemore:hover{
	margin-left:10px;
}

/* Breadcrumb start */

div.breadcrumb{
    display: block;
    margin: 10px auto;
    padding: 10px 20px 50px 20px;
    max-width: 800px;
    color: #333333;
    font-size: 12px;
    z-index: 10;
    position: relative;
    margin-bottom: -30px;	
	line-height: 20px;
}

div.breadcrumb a{
	
}

div.breadcrumb a,
div.breadcrumb a:visited,
div.breadcrumb a:link{
	color:#333333;
	/*text-decoration:none;*/
}

div.breadcrumb a:hover{
	color:#333333;
}
/* Breadcrumb ende */

/* GO UP Button start */
#goup{
	width:40px;
	height:40px;
	background-color: #333333;
	position:fixed;
	right:20px;
	bottom:-100px;
	transition-duration:.5s;
	display: block;
	z-index:99999;
	opacity:.4;
	border-radius:4px;
	cursor:pointer;
	box-shadow: 0px 2px 5px #424242;
	color:#ffffff;
	font-size:40px;
}

#goup:before{
	display:block;
	text-align:center;
}

#goup.sticky{
	right:20px;
	bottom:20px;
}

#goup:hover{
	opacity:1;
}
/* GO UP Button ende */


/* author start */

.theauthor{
	display: block;
    margin: 40px auto;
    padding: 20px 40px;
    max-width: 800px;
    color: #ffffff;
    font-size: 12px;
    position: relative;
	overflow:hidden;
	background-color:#009ee0;
	border-radius:10px;
	box-sizing:border-box;
    background-repeat: no-repeat;
	min-height:150px;
}

.theauthor:before {
    content: url('data:image/svg+xml; utf8, <svg class="mask1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="150px" height="150px" viewBox="0 0 150 150"><polygon points="150,0 150,150 110,150" fill="#009ee0" /></svg>');
    display:block;
    width:100%;
    height:150px;
    position:absolute;
    left:0px;
	margin-top:-20px;
}

@media screen and (max-width:1299px)
{
	.theauthor{
		max-width:100%;
		border-radius:0px;
		border-bottom-right-radius:0px;
	}
}

.theauthor .authorimg, .theauthor .authorabout{
	display: inline-block;
	float:left;
}

.theauthor .authorimg img{
	border-radius:45px;
	display:none;
}

.theauthor .authorabout{
	padding-left:140px;
	vertical-align:top;
	width:calc(100% - 130px);
}

@media screen and (max-width:575px)
{
	.theauthor{
		background-image: none!important;
	}
	.theauthor:before {
		display:none;
	}
	
	.theauthor .authorimg{
		width:100%;
		text-align:center;
		margin-bottom:30px;
	}
	
	.theauthor .authorimg img{
		border-radius:75px;
		height:150px;
		width:150px;
		display:inline-block;
	}
	
	.theauthor .authorabout{
		padding-left:0px;
		width:100%;
	}
}

.theauthor .authorabout .from{
	margin-bottom:15px;
	font-size:14px;
}

.theauthor .authorabout .bio{
	line-height:160%;
	font-style:italic;
}

/* author ende */

/* other blogs start */

.otherblogs
{
	display: block;
    margin: 0px auto;
    padding: 20px 20px;
    max-width: 800px;
    font-size: 12px;
    position: relative;
	overflow:hidden;
	/*box-sizing:border-box;*/
}

.otherblogs .prev,
.otherblogs .next{
	padding:20px 0px 0px 0px;
}

.otherblogs a:hover{
	color:#333333;
}

/* other blogs ende */


/* unternehmen start */

.socialmedialinks i{
	padding:20px 0px;
}

.socialmedialinks i:before{
	transition-duration:.4s;
}

.socialmedialinks i:hover:before{
	/*color:#333333!important;*/
}

#sb_instagram .sbi_photo_wrap a{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#sb_instagram .sbi_photo_wrap a:hover{
	filter: inherit;
	-webkit-filter: inherit;
}

.skills span.skill{
	padding:5px 10px;
	background-color:#cdcdcd;
	color:#ffffff;
	border-radius:6px;
	transition-duration:1.4s;
	margin:10px;
	display:inline-block;
}

.skills span.skill:after{
	content: "\f00c";
	font-family: "FontAwesome";
	margin-left:10px;
	color:transparent;
}

.skills span.skill.feature{
	background-color:#777777;
}
.skills span.skill.feature:after{
	color:inherit;
}

/* unternehmen ende */

/* special tactics start*/

.bgicongroup .fl-photo-content img{
	height:130px;
	width:auto;
}

.bgicongroup h2{
	color:#ffffff;
	text-align:center!important;
}

.bgicongroup .fl-rich-text, .bgicongroup .fl-rich-text p{
	color:#ffffff;
	text-align:center;
}

.bgicongroup h2:after{
	display:none!important;
}

.bgicongroup .fl-col-group{
	margin:0px auto;
}

.bgicongroup .fl-col-small{
	max-width:250px;
}


.bgicongroup .fl-col-small:nth-child(2){
	margin:0px 140px;
}

.bgicongroup .fl-col-small:first-child{
	margin-left:calc(50% - 515px);
}

@media screen and (max-width:1100px)
{
	.bgicongroup .fl-col-small{
		max-width:100%;
		width:100%;
	}
	
	.bgicongroup .fl-col-small:first-child{
		margin-left:0px;
	}
	.bgicongroup .fl-col-small:nth-child(2){
		margin:0px 0px;
	}
}


.fl-rich-text ul li{list-style:none;}
.fl-rich-text ul li:before {    
	font-family: 'FontAwesome';
	content: '\f00c';

	color: #333333;
	position: absolute;
    margin-left: -30px;
    margin-top: 0px;
}

#lang_switch{
	position:absolute;
	top:40px;
	right:40px;
	color:#ffffff;	
	z-index:100;
	text-decoration:none;
	text-transform: uppercase;
}

.maskbg{
	height: calc(80vw / 16 * 7 - 130px);
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
	/* opacity:.6; */
    top: 130px;
    left: 0px;
    z-index: 10;
}
body.sticky .maskbg{
		height: calc(80vw / 16 * 7);
		top: 0px;
	}
@media screen and (max-width:991px)
{
	.maskbg{
		height: calc(80vw / 16 * 7);
		top: 0px;
	}
}

.product_features {
	margin-bottom:160px;
	margin-top:-60px;
}

.product_features img{
	max-width:60%;
	min-width:400px;
	position:absolute;
}

@media screen and (min-width:2000px)
{
	.product_features img{
		padding:30px;
	}
}

@media screen and (min-width:2300px)
{
	.product_features img{
		padding:100px;
	}
}

.product_features .fl-photo-content{
		position:relative;
		width:100%;
		position:relative;
		margin-bottom:120px;
}

.product_features .fl-module:nth-child(1) img{
	right:0%;
}

.product_features .fl-module:nth-child(2) img{
	right:10%;
}

.product_features .fl-module:nth-child(3) img{
	right:20%;
}

.product_features .fl-module:nth-child(4) img{
	right:30%;
}

.product_features .fl-module:nth-child(5) img{
	right:10%;
}

.product_features .fl-module:nth-child(6) img{
	right:20%;
}

.product_features .fl-module:nth-child(7) img{
	right:30%;
}

.product_features .fl-module:nth-child(8) img{
	right:40%;
}

@media screen and (max-width:991px)
{
	.product_features img{
		max-width:100%;
		min-width:inherit;
		position:inherit;
	}
	
	.product_features .fl-module:nth-child(1) img{left:0%;}
	.product_features .fl-module:nth-child(2) img{left:0%;}
	.product_features .fl-module:nth-child(3) img{left:0%;}
	.product_features .fl-module:nth-child(4) img{left:0%;}
	.product_features .fl-module:nth-child(5) img{left:0%;}
	.product_features .fl-module:nth-child(6) img{left:0%;}
	.product_features .fl-module:nth-child(7) img{left:0%;}
	.product_features .fl-module:nth-child(8) img{left:0%;}
	
	.product_features .fl-photo-content{
		margin-bottom:20px;
	}

	.product_features {
		margin-top:0px;
		margin-bottom:20px;
	}
	
}

@media screen and (max-width:576px)
{
	/*
	.fl-row-content-wrap{
		padding-top: 40px!important;
		padding-bottom: 40px!important;
	}
	 */
	
	.feature_image{
		margin-bottom:0px;
	}
}

@media screen and (max-width:768px)
	{
	.prod_3_parts .fl-col-small{
		max-width:100%;
	}

	.prod_3_parts .fl-photo-content.fl-photo-img-png{
		text-align:left;
	}
	
	.prod_3_parts .fl-col:nth-child(2) img{
		transform: rotate(90deg);
		margin-left:10%;
		max-width:20%;
	}
}

a.dlbtn{
	text-decoration: none;
    border: 1px solid #333333;
    padding: 12px;
    border-radius: 10px;
}

a.dlbtn:after{
	content:"\f019";
	font-family:"FontAwesome";
	margin-left:10px;
	color:#777777;
}

/* special tactics end*/

/* Contact Form 7 start*/
div.wpcf7 input,
div.wpcf7 textarea{
	border:1px solid #333333;
	border-radius:10px;
	padding:10px;
	width:100%;
	max-width:500px;
	margin:10px 0px;
	font-family: "Nexa";
}

div.wpcf7 input:focus,
div.wpcf7 textarea:focus{
	outline:none;
}

div.wpcf7 input[type=submit]{
	background-color:#ffffff;
	color:#333333;
	width:auto;
	transition-duration:.4s;
}

div.wpcf7 input[type=submit]:hover{
	background-color:#333333;
	color:#ffffff;
}

div.wpcf7 .wpcf7-not-valid-tip{
    color: #ffffff;
    background-color: #333333;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
}

div.wpcf7 .wpcf7-validation-errors{
	color: #333333;
    background-color: rgb(250,255,189);
    padding: 10px;
    border-radius: 4px;
}

div.wpcf7 .wpcf7-validation-errors:before{
	content:"\f071";
	font-family:"FontAwesome";
	margin-right:10px;
	color:#333333;
}

div.wpcf7 .wpcf7-mail-sent-ng{
	color: #333333;
    background-color: rgb(250,150,150);
    padding: 10px;
    border-radius: 4px;
}

div.wpcf7 .wpcf7-mail-sent-ng:before{
	content:"\f071";
	font-family:"FontAwesome";
	margin-right:10px;
	color:#333333;
}

/* Contact Form 7 end*/

/* optimized mobile version start */
@media screen and (max-width:575px)
{
	.feature_image {
		 height: calc(80vw);
	}
	
	.maskbg{
		height: calc(80vw);
		top: 0px;
	}
	
	body.sticky .maskbg {
		height: calc(80vw);
	}
	
	.maskbg h1 {
		bottom: 50%;
	}
	.maskbg h2 {
		bottom: 10%;
		pointer-events: none;
	}
	.maskbg h2:after{
		content:"\f078";
		font-family:"FontAwesome";
		color:#ffffff;
		font-size:25px;
		display:block;
		transition-duration:.4s;
		margin-top: 20%;
		cursor:pointer;
		pointer-events: all;
	}
	/*
	.maskbg h2:hover:after{
		color:#333333;
		margin-top:-5px;
	}
	*/
}
@media screen and (max-width:991px)
{
	a#lang_switch{
		transition-duration:.4s;
		top: 23px;
		right: 80px;
		position:fixed;
	}
	footer .footer-container.lower{
		font-size: 12px;
		line-height: 30px;
		padding: 20px 20px 0px 20px;
	}
}

@media screen and (max-width:575px)
{
	footer .footer-container.lower{
		font-size: 10px;
		line-height: 30px;
	}
	footer .footer-credits.part2,
	footer .footer-credits.part3{
		font-size:14px;
	}
	
	.fl-rich-text p{
		text-align:justify;
		font-size:12px;
	}
}

/* optimized mobile version end */

/* nice language selection dropdown start */

.iLangSelectionCurrentAdd:hover div.iLangSelectionSubmenu{
	display:block;
}

@media screen and (max-width:1199px)
{
	.iLangSelectionCurrentAdd.hover div.iLangSelectionSubmenu{
		display:block;
	}
}


div.iLangSelectionSubmenu {
	padding:10px;
	background-color: rgba(51,51,51, 0.85);/*#333333;*/
	color:#ffffff;
	display:inline-block;
	position:absolute;
	top:121px;
	right:146px;
	display:none;
	transition-duration:.4s;
	min-width:200px;
}

@media screen and (max-width:1300px)
{
	div.iLangSelectionSubmenu {
		right:100px;
	}
}

@media screen and (max-width:1200px)
{
	div.iLangSelectionSubmenu {
		right:50px;
	}
}

body.sticky div.iLangSelectionSubmenu{
	top:61px;
}

@media screen and (min-width:992px)
{
	div.iLangSelectionSubmenu p{
		text-align:left;
		width:100%;
	}
	
	div.iLangSelectionSubmenu p a{
		width:calc(100% - 40px);
	}
}

div.iLangSelectionSubmenu p a:hover:after{
	content:"\f00c";
	font-family:"FontAwesome";
	margin-left:5px;
	font-size:10px;
	position:absolute;
}

#lang_switch{
	display:none;
}

@media screen and (max-width:991px)
{
	div.iLangSelectionSubmenu {
		display:block;
		position:relative;
		top:0px;
		right:0px;
	}
	
	body.sticky div.iLangSelectionSubmenu{
		top:0px;
	}
	div.iLangSelectionSubmenu {
		background-color:transparent;
		padding:0px;
	}
	
	div.iLangSelectionSubmenu p
	{
		height: 60px;	
		line-height: 60px;
		border-bottom: 1px solid #eeeeee;
		background-color:#ffffff;
	}
	
	div.iLangSelectionSubmenu p a:before{
		content:"\f0ac";
		font-family:"FontAwesome";
		margin-right:10px;
		font-size:22px;
	}
	
	#iNavSelection{
		display:none;
	}	
}

/* nice language selection dropdown end */



/* akkordeon start*/

.fl-accordion-button{
	background-color: #d32e16;
	color:#ffffff;
	text-transform: uppercase;
}

.fl-accordion-button[aria-expanded=true]{
	background-color: #d32e16;
}

.fl-accordion-item{
	border: 1px solid #333333;
	overflow:hidden;
	border-radius: 10px;
}

.fl-accordion-item.fl-accordion-item-active{
	border: 0px solid #3f4348;
}


.fl-accordion-item:before{
	display:none;
}

.fl-accordion-button-icon.fa.fa-plus:before {
    content: "\f107";
	font-size:25px;
}

.fl-accordion-button-icon.fa.fa-minus:before {
    content: "\f106";
	font-size:25px;
}

.fl-accordion-button-label{
	padding-top: 5px;
}

.jobs_title{
	margin-top:40px;
	margin-bottom:60px;
}

.jobs_stats_container{
	border: 0px solid #999999;
    padding: 20px;
    margin: 20px 0px;
	border-radius:10px;
	display:flex;
}

.jobs_stats_container div{
	font-size:70%;
	width:33.30%;
	padding:0px 5px;
}


.fl-accordion-small .fl-accordion-content{
	padding: 10px 30px;
}

@media screen and (max-width:767px)
{
	.jobs_stats_container div{
		width:100%;
		margin-top:20px;
	}
	
	.jobs_stats_container{
		flex-direction:column;
	}
	
	
	.fl-accordion-small .fl-accordion-content{
		padding: 10px 10px;
	}
}



.jobs_stats_container p{
	color:#d32e16;
	text-transform: uppercase;
	font-size:180%;
	display:block;
	margin-bottom:20px;
}

#content .fl-rich-text .jobs_stats_container ul li, 
#content .fl-accordion .jobs_stats_container ul li{
	padding: 5px 0px;
	margin-left:10px;
	line-height: 140%;
}


#content .fl-rich-text .jobs_stats_container ul li:before, 
#content .fl-accordion .jobs_stats_container ul li:before{  
	font-family: 'FontAwesome';
	content: '\f00c';
	margin:0 5px 0 -15px;
}

.jobs_further_information{
	margin-bottom:20px;
}

.fl-accordion-button-label {
    font-size: 90%;
}

/* akkordeon end */

.socialmediaicons{
	text-align:center;
	color:#ffffff;
}


.socialmediaicons i{
	font-size:28px;
	margin:0px 6px 20px 6px;
}


/* Spedition Wagner */
html, body{
	margin:0px;
	line-height: 1.5;
}

.text{
	text-align:justify;
}


/* Footer */
footer{
	background-color:#333333;
	color:#f0f0f0;
	text-transform: uppercase;
	padding:10px 20px;
	font-weight: bold;
	margin-top:20px;
}

@media screen and (max-width:800px)
{
	footer span{
		display:block;
	}
	footer span.sep{
		display:none;
	}
}

/* Animation */
@keyframes iliketomoveit {
	0%, 100% {background-position:0% 0%;}
	30%, 80% {background-position:20% 5%;}
	50% {background-position:10% 10%;}
}

/* Kontakt überm Footer */



.rel-container.contact{
	position:relative;
	margin:80px 0px 0px 0px;
	display: flex;

	align-items: start;
	justify-content: center;

	height: 300px;
}


.rel-container .shape-contact{

	height:100%;
	width:500px;

	position:absolute;
	right:0px;
	top:0px;

	background-position:center;
	background-size:cover;

	background-image:url(/wp-content/uploads/img1.jpg);

	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%);

	animation-name: iliketomoveit;
	animation-duration: 15s;
	animation-iteration-count: infinite;

	background-size:120%;

}

.rel-container .shape-contact:after{
	content:"";
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(255,55,0,.5);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%);
}


.rel-container .contact-box{
	right: 500px;
	top:30px;
	position: absolute;
}

.rel-container .contact-box p{
	font-size:80%;
}

.rel-container .contact-box p.title{
	border-top:5px solid #000000;
	font-weight:bold;

	font-size: 40px;
	text-transform: uppercase;
	color: #000000;
}




@media screen and (max-width:1000px)
{
	.rel-container .shape-contact{
		width:100%;
		max-width:400px;
	}

	.rel-container .contact-box {
		right: 0px;
		background-color: rgba(255,255,255,.9);
		padding: 10px;
		margin: 10px;
	}
}

.likeatitle{
	border-top: 5px solid #000000;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	padding-top: 10px;
	display: inline-block;
}

@media screen and (max-width: 575px)
{
	div p {
		text-align: justify;
		font-size: 12px;
	}
}

ul#menu-hauptmenue{
	max-width: 1000px;
	margin: 0px auto;
	height: 100%;
	position: relative;
}

@media screen and (min-width:992px)
{
	ul#menu-hauptmenue{
		padding-right: 75px;
	}
}


.fl-slideshow-thumbs-page .fl-slideshow-image.fl-slideshow-image-cropped{
	border-radius: 50%;
	width:30px!important;
	height:30px!important;
}